* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-sizing: border-box;
  height: 4em;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-bottom: #f7f5f5 solid;
}

.left-group,
.right-group {
  display: flex;
  align-items: center;
}

.nav-links a {
  padding: 0px 20px 0px 20px;
}

.logo {
  height: 3.5em;
  padding-bottom: 0.2em;
  will-change: filter;
  transition: filter 300ms;
  box-shadow: none;
  margin-top: -4px;
  position: relative;
  top: -1px;
}

/* Ensure content below navbar is not hidden */
.community-market {
  padding-top: 4em;
}

.nav-links {
  display: flex;
  gap: 25px;
  font-weight: 500;
  color: #716e6e;
}

.nav-links a {
  text-decoration: none;
  color: #111;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  transition: color 0.2s ease, transform 0.2s cubic-bezier(.4,2,.3,.7);
}

.nav-links a:hover {
  color: #fcb900;
  transform: translateY(-4px) scale(1.07);
}

.profile,
.cart-icon {
  padding: 0px 20px 0px 20px;
  margin-top: -5px;
  position: relative;
  top: -1px;
}

.cart-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #204229;
  border-radius: 20px;
  height: 50.5px;
  width: 120px;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  margin-right: 10px;
}

.cart-icon:hover {
  background-color: #b19f33;
  transform: translateY(-2px);
}

.cart-icon span {
  margin-left: 12px;
  font-weight: 800;
  color: #f9f9f9;
}

.profile-icon {
  color: #204229;
  transition: color 0.2s ease;
  cursor: pointer;
}

.profile-icon:hover {
  color: #b19f33;
  transform: translateY(-2px);
}