#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

head, body, #root {
  padding: 0px;
  font-family: "Lato", sans-serif;
  font-weight: 400; /* Adjust as needed */
  font-style: normal;
}


/* src/styles/App.css */